main.main
	.section-main
		.container
			h1.section-main__text Российский производитель телекоммуникационных шкафов и стоек
	.section-question
		.container
			.section-question__desc
				.section-question__title Российский производитель телекоммуникационных шкафов и стоек
				.section-question__text Конструктивные особенности Благодаря профилю растра 25мм согласно МЭК 917 с 16 ребрами перегиба обеспечивается высокая жесткость на скручивание и изгиб, а также обеспечивается монтаж оборудования в двух плоскостях.
				.section-question__buttons
					a.button(href="") Подробнее
					a.button.button_white(href="") Задать вопрос
	.section-products
		.container 
			.section-products__title
				h2.h2 Наша продукция
				a.link-all(href="") Каталог
					<svg width="6" height="8" viewBox="0 0 6 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.73047 1L4.73047 4L1.73047 7" stroke="#00ADB4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg>
			.section-products__items
				a.section-products__item(href="")
					span.section-products__img
						img(src="./img/product1.png" alt="")
					span.section-products__name Настенные шкафы
					span.section-products__category Комплектующие
				a.section-products__item(href="")
					span.section-products__img
						img(src="./img/product2.png" alt="")
					span.section-products__name Настенные шкафы
					span.section-products__category Комплектующие
				a.section-products__item(href="")
					span.section-products__img
						img(src="./img/product3.png" alt="")
					span.section-products__name Серверные шкафы USR
					span.section-products__category Комплектующие
				a.section-products__item(href="")
					span.section-products__img
						img(src="./img/product4.png" alt="")
					span.section-products__name Серверные шкафы
					span.section-products__category Комплектующие
	.section-products
		.container 
			.section-products__title
				h2.h2 Решения
				a.link-all(href="") Решения
					<svg width="6" height="8" viewBox="0 0 6 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.73047 1L4.73047 4L1.73047 7" stroke="#00ADB4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg>
			.section-products__items
				a.section-products__item(href="")
					span.section-products__img
						img(src="./img/product5.png" alt="")
					span.section-products__name.section-products__name_caps МОНТАЖНЫЕ ШКАФЫ MSC
					span.section-products__desc 
						p универсальная монтажная платформа для решения любых промышленных задач. Каждый шкаф серии MSC предоставляет доступ к оборудованию с любой стороны. Широкий набор комплектующих и аксессуаров позволяет решать задачи по компоновке сетевого и телекоммуникационного оборудования, а также приборов АСУ ТП и КИПиА.
						p Конструктивные особенности Благодаря профилю растра 25мм согласно МЭК 917 с 16 ребрами перегиба обеспечивается высокая жесткость на скручивание и изгиб, а также обеспечивается монтаж оборудования в двух плоскостях.

				a.section-products__item(href="")
					span.section-products__img
						img(src="./img/product6.png" alt="")
					span.section-products__name.section-products__name_caps СТОЙКИ СТАНДАРТА ОСР
					span.section-products__desc 
						p Монтажная стойка, соответствующая стандарту Open Computer Project, предназначена для размещения ИТ-оборудования, как то: стоечных серверов, серверных плат, систем хранения информации, компонентов системы электропитания, телекоммуникационных шасси, и т.д.
						p Конструктивные особенности В отличие от стандарта 19”, в стойках OCP фактическая ширина оборудования составляет 21”, а его установка производится на направляющие, расположенные непосредственно на стенках стойки. Электропитание подается централизованно, через общую вертикальную шину в задней части стойки. Размещаемое оборудование автоматически подключается к шине через разъемы hot-swap.

				a.section-products__item(href="")
					span.section-products__img
						img(src="./img/product7.png" alt="")
					span.section-products__name.section-products__name_caps СИСТЕМА ИЗОЛЯЦИИ КОРИДОРОВ MOST XK
					span.section-products__desc 
						p По статистике Uptime Institute сбои систем охлаждения являются причиной более 15% отказов в современных ЦОД. Совершенство современного холодильного оборудования не гарантия высокой эффективности системы охлаждения в целом. Смешивание холодного воздуха с отработанным нагретым является главным источником неэффективности затрат на охлаждение и фактором провоцирования отказов. Анализ распределения потоков от кондиционеров показывает, что для обеспечения температуры серверов 25,6 °C в верхней части шкафа температура на выходе из системы охлаждения компьютерного зала должна составлять 12,6 °C. Для дальнейшего повышения эффективности центр обработки данных следует проектировать с изолированными зонами холодного и теплого воздуха.

				a.section-products__item(href="")
					span.section-products__img
						img(src="./img/product8.png" alt="")
					span.section-products__name.section-products__name_caps СИСТЕМА ИЗОЛЯЦИИ КОРИДОРОВ MOST XK
					span.section-products__desc 
						p В шкафах можно интегрировать систему желобов и перегородок для прокладки кабеля питания и кабеля передачи данных через верхнюю часть шкафов.
						p Желоба и перегородки уменьшают потребность в дорогостоящих системах подвесных кабельных лотков.

	.section-news 
		.container 
			.section-news__title
				h2.h2 Новости
				a.link-all(href="") Все новости
					<svg width="6" height="8" viewBox="0 0 6 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.73047 1L4.73047 4L1.73047 7" stroke="#00ADB4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg>
			.section-news__items
				.section-news__item
					a.section-news__img(href="")
						img(src="./img/news1.jpg" alt="")
					a.section-news__name(href="") Настенные шкафы
					.section-news__date 04.06.2024
				.section-news__item
					a.section-news__img(href="")
						img(src="./img/news2.jpg" alt="")
					a.section-news__name(href="") Настенные шкафы
					.section-news__date 04.06.2024
				.section-news__item
					a.section-news__img(href="")
						img(src="./img/news3.jpg" alt="")
					a.section-news__name(href="") Серверные шкафы USR
					.section-news__date 04.06.2024
				.section-news__item
					a.section-news__img(href="")
						img(src="./img/news4.jpg" alt="")
					a.section-news__name(href="") Серверные шкафы
					.section-news__date 04.06.2024
			