.bg-menu
header.header.header_main
	.header__top.header-top 
		.container
			.header-top__left 
				a.logo(href="index.html")
					img(src="./img/logo.svg" alt="")
			.header-top__right
				.header-top__phone 
					a(href="tel:+79128952439") +7 912 895-24-39 
				.header-top__email 
					a(href="mailto:info@most.site") info@most.site
				a.header__button.button.button-bordered(href="") Hаписать нам
	.header__inner
		.container
			nav.nav-menu
				+list-links('Компания','Продукцию','Решения','Сервис','Документы','Партнерам')
			.header__icons 
				a(href="")
					<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_13_282)"><path d="M9.00003 18C7.21999 18 5.47995 17.4722 3.9999 16.4832C2.51986 15.4943 1.36627 14.0887 0.685084 12.4442C0.00389528 10.7996 -0.174329 8.99006 0.172938 7.24423C0.520205 5.4984 1.3774 3.89475 2.63607 2.63607C3.89475 1.3774 5.4984 0.520205 7.24423 0.172938C8.99006 -0.174329 10.7996 0.00389528 12.4442 0.685084C14.0887 1.36627 15.4943 2.51986 16.4832 3.9999C17.4722 5.47995 18 7.21999 18 9.00003C18 11.387 17.0518 13.6762 15.364 15.364C13.6762 17.0518 11.387 18 9.00003 18ZM11.571 15.5C9.92725 14.834 8.0888 14.834 6.44503 15.5C8.0888 16.1661 9.92725 16.1661 11.571 15.5ZM9.00003 2.00003C7.57195 1.99448 6.17664 2.42756 5.00265 3.24069C3.82866 4.05381 2.93262 5.20776 2.43569 6.5466C1.93877 7.88543 1.86491 9.34459 2.22409 10.7268C2.58326 12.1089 3.35812 13.3475 4.44399 14.2751C5.81793 13.4417 7.39409 13.001 9.001 13.001C10.6079 13.001 12.1841 13.4417 13.558 14.2751C14.644 13.3474 15.419 12.1087 15.7781 10.7263C16.1372 9.34391 16.0632 7.88461 15.566 6.54568C15.0688 5.20675 14.1725 4.05274 12.9982 3.23977C11.8239 2.4268 10.4283 1.99406 9.00003 2.00003ZM9.00003 12C8.2089 12 7.43553 11.7654 6.77774 11.3259C6.11994 10.8864 5.60728 10.2617 5.30453 9.53079C5.00178 8.79988 4.92253 7.99562 5.07687 7.21969C5.23121 6.44377 5.61219 5.73101 6.1716 5.1716C6.73101 4.61219 7.44377 4.23121 8.21969 4.07687C8.99562 3.92253 9.79988 4.00178 10.5308 4.30453C11.2617 4.60728 11.8864 5.11994 12.3259 5.77774C12.7654 6.43553 13 7.2089 13 8.00003C13 9.06089 12.5786 10.0783 11.8285 10.8285C11.0783 11.5786 10.0609 12 9.00003 12ZM9.00003 6.00003C8.60446 6.00003 8.21778 6.1173 7.88888 6.33706C7.55998 6.55682 7.30362 6.86919 7.15225 7.23464C7.00087 7.6001 6.96131 8.00226 7.03848 8.39022C7.11565 8.77819 7.30614 9.13451 7.58584 9.41421C7.86555 9.69392 8.22187 9.8844 8.60983 9.96157C8.99779 10.0387 9.39995 9.99918 9.76541 9.8478C10.1309 9.69643 10.4432 9.44007 10.663 9.11117C10.8828 8.78227 11 8.39559 11 8.00003C11 7.46959 10.7893 6.96091 10.4142 6.58584C10.0391 6.21077 9.53046 6.00003 9.00003 6.00003Z" fill="white" /></g><defs><clipPath id="clip0_13_282"><rect width="18" height="18" fill="white" /></clipPath></defs></svg>
				a(href="")
					<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_13_280)"><path d="M16.7097 16.719C16.5223 16.9059 16.2684 17.0108 16.0037 17.0108C15.7391 17.0108 15.4852 16.9059 15.2977 16.719L12.0417 13.432C10.6977 14.451 9.04862 14.9855 7.36241 14.9486C5.67621 14.9117 4.05202 14.3057 2.75382 13.229C1.45562 12.1523 0.559699 10.6682 0.211666 9.01784C-0.136367 7.36753 0.0839435 5.64803 0.836792 4.13877C1.58964 2.62951 2.83078 1.41921 4.3585 0.704562C5.88622 -0.0100847 7.61072 -0.187072 9.25175 0.202363C10.8928 0.591797 12.3539 1.52476 13.3976 2.84964C14.4413 4.17452 15.0063 5.81343 15.0007 7.50003C14.9955 9.13542 14.451 10.7234 13.4517 12.018L16.7097 15.307C16.8966 15.4945 17.0015 15.7484 17.0015 16.013C17.0015 16.2777 16.8966 16.5316 16.7097 16.719ZM7.50075 2.00003C6.41295 2.00003 5.34958 2.3226 4.44511 2.92694C3.54064 3.53129 2.83569 4.39028 2.41941 5.39527C2.00313 6.40026 1.89421 7.50613 2.10643 8.57302C2.31865 9.63992 2.84247 10.6199 3.61166 11.3891C4.38085 12.1583 5.36086 12.6821 6.42775 12.8943C7.49465 13.1066 8.60052 12.9976 9.60551 12.5814C10.6105 12.1651 11.4695 11.4601 12.0738 10.5557C12.6782 9.65119 13.0007 8.58782 13.0007 7.50003C13.0007 6.04134 12.4213 4.64239 11.3898 3.61094C10.3584 2.57949 8.95944 2.00003 7.50075 2.00003Z" fill="white" /></g><defs><clipPath id="clip0_13_280">      <rect width="17" height="17" fill="white" /></clipPath></defs></svg>
				a(href="")
					<svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_13_284)"><path d="M18.0474 8.00502L17.1084 9.014L5.7144 9.006L4.76244 8.006L3.80943 2.006H0.952439C0.819352 2.02188 0.68438 2.00655 0.558274 1.96114C0.432169 1.91573 0.318354 1.84154 0.225938 1.74446C0.133522 1.64739 0.0650182 1.53006 0.0258647 1.40187C-0.0132887 1.27369 -0.0219883 1.13815 0.000413083 1.006C0.00260868 0.860967 0.0355616 0.7181 0.0970928 0.586749C0.158624 0.455398 0.247324 0.338558 0.357347 0.244037C0.467369 0.149515 0.596213 0.0794423 0.735337 0.0384092C0.874462 -0.00262379 1.02071 -0.0136871 1.16441 0.00599957H3.49144C3.79144 0.00599957 4.09142 0.0120421 4.09142 0.0120421C4.38829 -0.0278106 4.68939 0.0440085 4.93626 0.213641C5.18314 0.383274 5.35817 0.638589 5.42741 0.930011L5.81743 3.00002H18.0474L19.0004 4.00002V5.00002L18.0474 8.00502ZM6.13139 5.00502L6.48039 7.00502H16.4874L17.0804 5.00502H6.13139ZM7.99443 10.005C8.58778 10.005 9.16777 10.181 9.66112 10.5106C10.1545 10.8403 10.539 11.3088 10.766 11.857C10.9931 12.4051 11.0525 13.0083 10.9368 13.5903C10.821 14.1722 10.5353 14.7068 10.1157 15.1264C9.69615 15.5459 9.16164 15.8316 8.5797 15.9473C7.99776 16.0631 7.39454 16.0037 6.84636 15.7766C6.29818 15.5496 5.82963 15.1651 5.49999 14.6717C5.17034 14.1784 4.99443 13.5984 4.99443 13.005C4.99443 12.2094 5.31048 11.4463 5.87309 10.8837C6.4357 10.3211 7.19878 10.005 7.99443 10.005ZM8.00041 14C8.19819 14 8.39151 13.9414 8.55595 13.8315C8.7204 13.7216 8.84861 13.5654 8.9243 13.3827C8.99999 13.2 9.01977 12.9989 8.98119 12.8049C8.9426 12.611 8.84736 12.4328 8.70751 12.2929C8.56765 12.1531 8.38946 12.0578 8.19548 12.0192C8.0015 11.9807 7.80045 12.0004 7.61772 12.0761C7.435 12.1518 7.27881 12.28 7.16893 12.4445C7.05905 12.6089 7.00041 12.8022 7.00041 13C7.00041 13.2652 7.10578 13.5196 7.29332 13.7071C7.48086 13.8946 7.7352 14 8.00041 14ZM15.0114 10C15.6047 10 16.1848 10.176 16.6781 10.5056C17.1715 10.8353 17.556 11.3038 17.7831 11.8519C18.0101 12.4001 18.0695 13.0033 17.9538 13.5853C17.838 14.1672 17.5523 14.7018 17.1327 15.1214C16.7132 15.5409 16.1786 15.8266 15.5967 15.9424C15.0147 16.0582 14.4116 15.9987 13.8634 15.7717C13.3152 15.5446 12.8467 15.1601 12.517 14.6667C12.1874 14.1734 12.0114 13.5934 12.0114 13C12.0127 12.2052 12.3294 11.4434 12.8918 10.8819C13.4543 10.3204 14.2166 10.005 15.0114 10.005V10ZM15.0004 14C15.1982 14 15.3915 13.9414 15.556 13.8315C15.7204 13.7216 15.8486 13.5654 15.9243 13.3827C16 13.2 16.0198 12.9989 15.9812 12.8049C15.9426 12.611 15.8474 12.4328 15.7075 12.2929C15.5677 12.1531 15.3895 12.0578 15.1955 12.0192C15.0015 11.9807 14.8004 12.0004 14.6177 12.0761C14.435 12.1518 14.2788 12.28 14.1689 12.4445C14.059 12.6089 14.0004 12.8022 14.0004 13C14.0004 13.2652 14.1058 13.5196 14.2933 13.7071C14.4809 13.8946 14.7352 14 15.0004 14Z" fill="white" /></g><defs><clipPath id="clip0_13_284"><rect width="19" height="16" fill="white" /></clipPath></defs></svg>
			button.hamburger(type="button")
					.hamburger__button
						span
						span
						span
	.header-new-popup 
		.header-new-popup__inner 
			.header-new-popup__close 
			//- .header-new-popup__subtitle Меню:
			.header-new-popup__list 
				+list-links('Компания','Продукцию','Решения','Сервис','Документы','Партнерам')
				//- +list-links('Главная','О предприятии','Для партнеров','Торги и закупки','Фотогалерея','Страницы истории','Наши ветераны','Сми о нас')
				//- +list-links('Контакты','Установи счетчик и начни экономить','Передать показания счетчика','Отключения','Задать вопрос','Договоры','Вакансии','Жалобная книга','Противодействие коррупции','Антитеррор')
			//- .footer-work 
			//- 	.footer-work__title Режим работы диспетчерской службы
			//- 	.footer-work__text 
			//- 		span Круглосуточный
			//- 		a.footer-work__phone(href="") 667-106
			//- 		span (многоканальный)
			//- .header-new-popup__subtitle Телефон:
			//- .header-new-popup__text
			//- 	a.header-new__phone(href="tel:8 (3532) 609-505") 8 (3532) 609-505
			//- .header-new-popup__subtitle Мы в социальных сетях
			//- .main-block__socials 
			//- 	a(href="" target="_blank")
			//- 		img(src="./img/viber.svg" alt="")
			//- 	a(href="" target="_blank")
			//- 		img(src="./img/whatsapp.svg" alt="")
			//- 	a(href="" target="_blank")
			//- 		img(src="./img/vk.svg" alt="")
			